body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

.sp-text{
    background-image: conic-gradient(at top, #818cf8, #38bdf8, #5eead4);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
}
.icon{
    padding: 15px;
    font-size: 20px;
    border: 1px solid gray;
    border-radius:10px;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
}
.g-bg{
   background: #0f172a;
background: linear-gradient(315deg, #0f172a 0%, #312e81 50%, #4c1d95 100%);

}